{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <main role="main" class="container">
      <div class="row">
          <!-- Левый вспомогательный блок -->
          <div class="col-md-3 mb-3 mt-1">
              <div class="card">
                  <div class="card-body">
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                              <div class="h3">
                                  Технологии
                              </div> 
                          </li>
                          <li class="list-group-item">
                              <div class="h6 text-muted">
                                  Язык - Python
                                  Фреймворк - Django
                              </div>
                          </li>
                      </ul>                                               
                  </div>                    
              </div>                
          </div>
          <!-- Тело страницы -->
          <div class="col-md-9">
              <div class="card-body">                    
                  <div class="card-text">
                      <p>
                          Я думаю нет смысла рассказывать какие инструменты я применил, вы и сами можете все понять и найти. 
                            Хочу лишь сказать, что самое главное, это четко видеть цель той работы, которую делаешь, никогда не останавливаться на достигнутом
                            и продолжать что-то создавать или изобретать. Было бы желание, способ всегда найдется!
                      </p>
                      <p><img src="\static\steve.jpg" width="750" height="500"></p>
                  </div>                    
              </div>                
          </div>            
      </div>        
  </main>
{% endblock %} 
